<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FacturaSystem - Productos</title>
    
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <!-- <li class="item" id='client'>
        <a href="/home" class="btn"><i class="far"></i>Factura System</a>
      </li> -->
      <a href="/home/vistahome" class="btn navbar-brand">Factura System</a>
    </nav>
    <div class="middle">
      <div class="menu">
        <li class="item" id='client'>
          <a href="#client" class="btn"><i class="fas fa-user-friends"></i>Clientes</a>
          <div class="smenu">
            <a href="/clientes/vistaclientes">Crear, editar y borrar Clientes</a>
          </div>
        </li>

        <li class="item" id="product">
          <a href="#product" class="btn"><i class="fab fa-apple"></i>Productos</a>
          <div class="smenu">
            <a href="/productos/vistaproductos">Crear, editar y borrar Productos</a>
            <a href="/marcas/vistamarcas">Crear, editar y borrar Marcas</a>
            <a href="/tipos/vistatipos">Crear, editar y borrar Tipos</a>
          </div>
        </li>

        <li class="item" id="sales">
          <a href="#sales" class="btn"><i class="fas fa-shopping-cart"></i>Ventas</a>
          <div class="smenu">
            <a href="/ventas/vistaventas">Facturacion</a>
            <a href="/recibos/vistarecibos">Crear, editar y borrar Recibos</a>
          </div>
        </li>

        <li class="item" id="purchases">
          <a href="#purchases" class="btn"><i class="fas fa-hand-holding-usd"></i>Compras</a>
          <div class="smenu">
            <a href="/compras/vistacompras">Orden de Compra</a>
          </div>
        </li>

        <!-- <li class="item">
          <a class="btn" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li> -->
      </div>
    </div>
  </body>
</html>
